extends base

block content
    span.back
    .elements
        .container
            h2 Electronics Items
            hr
            .cards
                each items of electronics
                
                    .card(data-id=`${items._id}`)
                        img.abc(src=`./img/product/${items.image}` alt= items.name height='100rem')
                        .stars
                            -for(let i=0;i<items.avgRating;i++){ 
                            img(src='/img/star.png' alt='star' height='20rem')
                            -}
                        p.title= items.name 
                        p.price=  `₹ ${items.price1}`
        .container
            h2 Shoes and Clothing
            hr
            .cards.shoesCards
                each items of clothes
                
                    .card(data-id=`${items._id}`)
                        img.abc(src=`./img/product/${items.image}` alt= items.name height='100rem')
                        .stars
                            -for(let i=0;i<items.avgRating;i++){ 
                            img(src='/img/star.png' alt='star' height='20rem')
                            -}
                        p.title= items.name 
                        p.price= `₹ ${items.price1}`
        .container
            h2 Grocery
            hr
            .cards.groceriesCards
                each items of groceries
                    
                    .card(data-id=`${items._id}`)
                        img.abc(src=`/img/product/${items.image}` alt= items.name height='100rem')
                        .stars
                            -for(let i=0;i<items.avgRating;i++){ 
                            img(src='/img/star.png' alt='star' height='20rem')
                            -}
                        p.title= items.name 
                        p.price= `₹${items.price1}`
            
block end 
    script(src="/js/home.js") 